body {
  margin: 0%;
  padding: 0%;
}

main {
  background-color: black;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui {
  position: absolute;
  top: 2rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
}
